body {
  font:16px normal Arial, sans-serif;
}

#reaction {
  color:#f00;
  font-weight:bold;
  font-size:20px;
}

.box {
  width:100px;
  height:100px;
  background:#f00;
  position:relative;
  cursor:pointer;
  display:none;
}